/*Animatio from the site https: //codepen.io/P1N2O/pen/pyBNzX*/

body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #BA55D3, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    position: absolute;

}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/*Friends-list*/
#mini-window {
    width: 300px;
    height: 500px;
    display: none;
    border: 1px solid #666;
    position: relative;
    margin: 2px auto 0;
    background-color: none;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
}

.mini-title {
    text-indent: 20px;
    margin-top: 50px;
    font-size: 30px;
    float: left;
    margin-bottom: 15px;
    font-family: "Courier New", Courier, monospace;
    color: black;
}

#new_name {
    margin-left: 15%;
    width: 70%;
    height: 35px;
    margin-top: 100px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}

#new_id {
    margin-left: 15%;
    width: 70%;
    height: 35px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}

.add_button {
    margin-top: 50px;
    margin-left: 35%;
    width: 30%;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    background-color: dodgerblue;
    font-size: 30px;
    border-radius: 20px;

}

.close {
    margin-left: 10px;
    font-size: 19px;
    margin-top: 10px;
    float: left;
    color: deepskyblue;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.add_friend {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 50px;
    float: right;
    text-align: center;
    color: deepskyblue;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Courier New", Courier, monospace;
}

#friend-list {
    display: block;
    margin-top: 70px;
    padding: 0;
    width: 300px;
    height: 370px;
    list-style-type: none;
    overflow: auto;
    border-top: solid 0.5px gray;

}

.friend {
    width: 280px;
    height: 60px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 10px;
    border-bottom: solid 0.5px gray;
    text-indent: 15px;
    font-size: 15px;
    color: black;
}


.friend:not(.selected):hover {
    background: #DDD;
}



/*Chatting*/

.container {
    height: 75%;
    width: 80%;
    z-index: 10;
    overflow-x: hidden;
    margin: auto;
    margin-top: 50px;
    opacity: 50%;
    background-color: aliceblue;
    border-radius: 20px;
}


.friends_list {
    float: left;
    /*    height: 500px;*/
    margin-left: 8%;
    margin-top: 15px;
    background-color: white;
    border-radius: 20px;
    border: none;
}

.chatting_space {
    float: right;
    margin-right: 8%;
    margin-top: 15px;
    background-color: white;
    border-radius: 20px;

}

.Title {
    text-indent: 20px;
    margin-top: 20px;
    font-size: 30px;
    float: left;
    margin-bottom: 15px;
    font-family: "Courier New", Courier, monospace;
    color: black;


}

.friends {
    width: 300px;
    height: 500px;
    border: 1px solid #666;
    margin: 2px auto 0;
    position: relative;
    border-radius: 20px;
    border: 2px solid #666;
}

.talk_con {
    width: 600px;
    height: 500px;
    border: solid #666;
    margin: 2px auto 0;
    border-radius: 20px;

}

#chatting_title {
    text-indent: 20px;
    margin-top: 20px;
    font-size: 30px;
    float: left;
    margin-bottom: 15px;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    color: black;
    cursor: pointer;
}

#delete_button {
    margin-right: 20px;
    margin-top: 20px;
    font-size: 15px;
    float: right;
    text-align: center;
    color: white;
    background-color: orangered;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Courier New", Courier, monospace;
    border-radius: 20px;
    height: 30px;
    width: 150px;
}

.talk_show {
    width: 550px;
    height: 360px;
    border: 2px solid #666;
    margin: 10px auto 0;
    margin-top: 70px;
    overflow: auto;
    border-radius: 20px;
}

.talk_input {
    width: 580px;
    margin: 10px auto 0;
}

#textfield {
    width: 470px;
    height: 30px;
    padding: 3px 5px;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    outline: none;
    text-indent: 10px;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid gray;
    text-decoration: none;
    font-size: 15px;
}

.Send {
    height: 35px;
    width: 60px;
    float: right;
    padding: 3px 5px;
    margin-right: 10px;
    margin-top: 2px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
}

.atalk {
    margin: 10px;
}

.atalk span {
    display: inline-block;
    background-color: gainsboro;
    border-radius: 13px;
    color: black;
    padding: 9px 15px;
    font-size: 20px;
}

.btalk {
    margin: 10px;
    text-align: right;
}

.btalk span {
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 13px;
    color: white;
    padding: 9px 15px;
    font-size: 20px;
}
